* {
  box-sizing: border-box;
}

body {
  background-color: rgb(247, 246, 252);
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

strong {
  font-weight: bold;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
