.footer {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 17px;
  font-size: 15px;
}

@media all and (max-width: 972px) {
  .footer {
    position: static;
    margin-top: 40px;
    margin-bottom: 10px;
  }
}

@media all and (max-width: 766px) {
  .footer {
    position: absolute;
    width: 100%;
    bottom: 5px;
  }
}
