
@keyframes header-animation {
  from { top: -73px; }
  to { top: 0; }
}

.header {
  position: fixed;
  z-index: 100;
  background-color: white;
  width: 100%;
  padding-left: var(--global-side-margin);
  padding-right: var(--global-side-margin);
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  animation: header-animation;
  animation-duration: 1s;
}

.header-logo {
  height: 30px;
  width: auto;
}

.header-icon-wrapper {
  display: inline-block;
  position: relative;
}

.header-notifications-link {
  cursor: pointer;
  font-size: 15px;
  display: inline-block;
  color: rgb(190, 202, 218);
  margin-right: 15px;
}

.header-notifications-link:hover {
  color: rgb(153, 151, 160);
}

.header-icon {
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  font-family: sans-serif;
  color: white;
  width: 29px;
  height: 29px;
  background-color: rgb(248, 154, 31);
  border-radius: 100%;
  text-align: center;
  line-height: 29px;
}

.header-icon-checker {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.header-icon-checker:hover ~ .header-icon {
  background-color: rgb(239, 130, 25);
}

.account-options {
  position: absolute;
  opacity: 0;
  top: 30px;
  right: 0;
  z-index: 2;
  background-color: white;
  padding: 8px 13px 10px;
  width: 140px;
  box-shadow: 0 0 12px rgba(94, 94, 94, 0.1);
  transform: scaleY(0);
  transform-origin: top center;
  transition: transform 0.25s;
}

.header-icon-checker:checked ~ .account-options {
  opacity: 1;
  transform: scaleY(1);
}

.options-list a {
  display: inline-block;
  padding: 6px;
  width: 100%;
}

.options-list li:first-child {
  padding-top: 5px;
}

.account-options a {
  color: black;
  font-weight: 600;
  font-size: 13px;
}

.account-options li:hover {
  background-color: rgb(250, 250, 250);
}

.account-name {
  color: rgb(157, 166, 177);
  border-bottom: 1px solid rgb(157, 166, 177);
  padding: 5px 0;
  font-size: 12px;
  text-align: center;
}
