.main {
  margin-left: var(--global-side-margin);
  margin-right: var(--global-side-margin);
  padding-top: 100px;
  display: grid;
  height: calc(0.54 * (100vw - 2 * var(--global-side-margin)));
  width: calc(100vw - 2 * var(--global-side-margin));
  grid-template-rows: 2.97fr repeat(5, 1fr);
  grid-template-columns: 1fr 1fr 1.25fr 0.75fr;
  grid-gap: 0;
}

.card-front {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.card-back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background-color: white;
  color: black;
  overflow: auto;
  padding: 16px;
  font-size: calc(var(--vw-pixel) * 16);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  position: relative;
}

.to-right-animated .card-front {
  transform-origin: right;
  transition: transform 0.3s;
}

.to-right-animated:hover .card-front {
  transform: scaleX(0);
}

.to-bottom-animated .card-front {
  transition: top 0.3s, font-size 0.3s;
}

.to-bottom-animated:hover .card-front {
  font-size: 0;
  top: 100%;
}

.to-right-top-animated .card-front {
  transition: bottom 0.3s, left 0.3s, font-size 0.3s;
}

.to-right-top-animated:hover .card-front {
  bottom: 100%;
  left: 100%;
  font-size: 0;
}

.to-right-bottom-animated .card-front {
  transition: top 0.3s, left 0.3s, font-size 0.3s;
}

.to-right-bottom-animated:hover .card-front {
  left: 100%;
  top: 100%;
  font-size: 0;
}

.flip-animated {
  perspective: 1000px;
  background-color: transparent;
}

.flip-animated-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

.flip-animated:hover .flip-animated-inner {
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.flip-animated .card-back,
.flip-animated .card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  /* Hack for Mozilla Firefox */
  transform: rotateX(0deg);
}

.flip-animated .card-back {
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.code-block {
  display: block;
  text-align: center;
  padding-top: 20px;
  font-size: calc(var(--vw-pixel) * 14);
  font-family: monospace;
  font-weight: 600;
}

.bsa-card {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.bsa-card-front {
  background-color: white;
}

.bsa-card-front img {
  width: 35%;
  height: 35%;
}

.join-link {
  background-color: rgb(51, 151, 255);
  color: white;
  border: none;
  padding: 10px 25px;
}

.join-link:hover {
  background-color: rgb(3, 62, 168);
}

.qa-card {
  grid-column: 1 / 2;
  grid-row: 3 / 7;
}

.qa-card-front {
  color: white;
  font-size: calc(var(--vw-pixel) * 82);
  background-color: rgb(82, 191, 119);
}

.color-qa-dark-green {
  color: rgb(23, 117, 55);
}

.js-card {
  grid-column: 2/3;
  grid-row: 1/ 5;
}

.js-card-front {
  font-size: calc(var(--vw-pixel) * 98);
  font-weight: 600;
  display: flex;
  flex-direction: column-reverse;
  padding: 6px;
  text-align: right;
  background-color: rgb(247, 207, 105);
}

.color-js-yellow {
  color: rgb(221, 176, 105);
}

.color-js-blue {
  color: rgb(93, 168, 224);
}

.color-js-gray {
  color: rgb(118, 115, 113);
}

.color-js-green {
  color: rgb(150, 190, 112);
}

.java-card {
  grid-column: 2/3;
  grid-row: 5/ 7;
}

.java-card-front {
  color: white;
  font-size: calc(var(--vw-pixel) * 42);
  background-color: rgb(225, 43, 76);
}

.color-java-red {
  color: rgb(171, 37, 37);
}

.color-java-brown {
  color: rgb(136, 93, 59);
}

.color-java-gray {
  color: rgb(196, 196, 183);
}

.color-java-blue {
  color: rgb(49, 126, 204);
}

.color-java-darkgray {
  color: rgb(88, 88, 88);
}

.php-card {
  grid-column: 3/5;
  grid-row: 1/ 2;
}

.php-card-front {
  font-size: calc(var(--vw-pixel) * 84);
  font-style: italic;
  background-color: rgb(136, 147, 192);
}

.color-php-gray-blue {
  color: rgb(91, 105, 136);
}

.color-php-dark-blue {
  color: rgb(26, 26, 166);
}

.net-card {
  grid-column: 3 / 4;
  grid-row: 2 / 7;
}

.net-card-front {
  color: white;
  font-size: calc(var(--vw-pixel) * 82);
  background-color: rgb(100, 32, 119);
}

.color-net-green {
  color: rgb(114, 190, 112);
}

.color-net-red {
  color: rgb(167, 32, 32);
}

.color-net-dark-gray {
  color: rgb(8, 8, 8);
}

.events-card {
  grid-column: 4 / 5;
  grid-row: 2 / 4;
}

.events-card-front {
  color: white;
  font-size: 15px;
  background-color: rgb(45, 153, 255);
}

.events-card-back a {
  text-decoration: underline;
}

.blog-card {
  grid-column: 4 / 5;
  grid-row: 4 / 6;
}

.blog-card-front {
  color: white;
  font-size: 15px;
  background-color: rgb(4, 67, 163);
}

.contacts-card {
  grid-column: 4 / 5;
  grid-row: 6 / 7;
}

.contacts-card-front {
  color: white;
  font-size: 15px;
  background-color: rgb(0, 38, 95);
}

/*
Need it to override default behavior
that is required for all other card-backs
*/
.contacts-card .card-back {
  padding: 0;
}

.contacts-list {
  overflow: hidden;
}

.contacts-list li {
  display: inline-block;
  overflow: hidden;
  margin-left: 9px;
  font-size: calc(var(--vw-pixel) * 26);
}

.contacts-list a {
  color: black;
}

.contacts-list a:hover {
  color: rgb(72, 159, 240);
}

@media all and (max-width: 1275px) {
  .java-card-back .code-block {
    padding: 10px;
    font-size: calc(var(--vw-pixel) * 15);
  }
  
  .java-card-back {
    overflow: hidden;
  }
}

@media all and (max-width: 972px) {
  .main {
    height: calc(100vw - 2 * var(--global-side-margin));
    width: calc(100vw - 2 * var(--global-side-margin));
    grid-template-rows: 1fr 1fr 0.5fr 1.33fr 1.33fr;
    grid-template-columns: 8fr 1fr 5fr 4fr/*576px /*576px 720px 433px*/;
  }

  .card-back {
    padding: 10px;
    font-size: calc(var(--vw-pixel) * 26);
  }

  .code-block {
    font-size: calc(var(--vw-pixel) * 24);
  }

  .java-card-back .code-block {
    font-size: calc(var(--vw-pixel) * 24);
  }

  .bsa-card {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }

  .qa-card {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
  }

  .js-card {
    grid-column: 2/4;
    grid-row: 1/ 4;
  }

  .java-card {
    grid-column: 1/3;
    grid-row: 4 / 5;
  }

  .php-card {
    grid-column: 3/5;
    grid-row: 4/ 5;
  }

  .net-card {
    grid-column: 3 / 5;
    grid-row: 5 / 6;
  }

  .events-card {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
  }

  .events-card-front {
    font-size: 15px;
  }

  .blog-card {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  }

  .blog-card-front {
    font-size: 15px;
  }

  .contacts-card {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
  }

  .contacts-card-front {
    font-size: 15px;
  }

  .contacts-list li {
    font-size: 22px;
  }
}
