.messages {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.messages > * + * {
  margin-top: 15px;
}

.message {
  width: 200px;
  padding: 13px 15px;
  display: flex;
  color: white;
  border-radius: 3px;
  font-size: 13px;
  line-height: 17px;
  opacity: 0.75;
}

.message-icon {
  margin-right: 15px;
  font-size: 20px;
}

.message-title {
  font-weight: bold;
}

.bckg-error {
  background-color: rgba(200, 0, 0, 0.9);
}

.bckg-success {
  background-color: rgba(0, 128, 0, 0.9);
}

.bckg-warning {
  background-color: rgba(255, 165, 0, 0.9);
}
